# 这个工作流会在 push 和 pull request 到 master 分支时触发，也可以被其他工作流调用
# 会运行 dev.py 的一些命令来检查代码的质量和正确性

name: Development Check

on:
  push:
    branches: master

  pull_request:
    branches: master
  
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-dev-check
  cancel-in-progress: true

jobs:
  dev-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.2

    - name: Setup Python
      uses: actions/setup-python@v6.2.0
      with:
        python-version: '3.13.5'

    # 缓存 Python 虚拟环境
    - name: Cache Python .venv
      uses: actions/cache@v5.0.3
      id: cache-python-venv
      with:
        path: .venv
        key: ${{ runner.os }}-venv-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-venv

    - name: Prepare Venv Python
      if: steps.cache-python-venv.outputs.cache-hit != 'true'
      run: |
        python -m venv .venv
        source .venv/bin/activate
        pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Check dev.py all
      run: |
        source .venv/bin/activate
        export AUDIODEV=null
        python dev.py format
        python dev.py stubs
        python dev.py lint
        python dev.py test
