# 这个工作流会在 master 分支的 docs/ 或 fantas/ 目录下有更改时触发，或者通过手动触发。
# 它会构建文档并将生成的 HTML 文件部署到远程服务器上

name: Build and Sync Docs

on:
  push:
    branches: master
    paths:
      - 'docs/**'
      - 'fantas/**'
      - '.github/workflows/sync-docs.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-sync-docs
  cancel-in-progress: true

jobs:
  build-and-sync-docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.2

    - name: Setup Python
      uses: actions/setup-python@v6.2.0
      with:
        python-version: '3.13.5'

    # 缓存 Python 虚拟环境
    - name: Cache Python .venv
      uses: actions/cache@v5.0.3
      id: cache-python-venv
      with:
        path: .venv
        key: ${{ runner.os }}-venv-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-venv

    - name: Prepare Venv Python
      if: steps.cache-python-venv.outputs.cache-hit != 'true'
      run: |
        python -m venv .venv
        source .venv/bin/activate
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install system dependencies
      uses: awalsh128/cache-apt-pkgs-action@v1.6.0
      with:
        packages: |
          libsdl2-dev
          libsdl2-image-dev
          libsdl2-mixer-dev
          libsdl2-ttf-dev
          libfreetype6-dev
          libportmidi-dev

    # 使用 dev.py 脚本来构建文档
    - name: Build documentation
      run: |
        source .venv/bin/activate
        export AUDIODEV=null
        python dev.py docs --full

    - name: Deploy documentation
      uses: Burnett01/rsync-deployments@v8
      with:
        switches: -avzr --delete
        path: docs/build/html/
        remote_path: /var/www/fantas-docs/
        remote_host: ${{ secrets.SSH_HOST }}
        remote_user: ${{ secrets.SSH_USER }}
        remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
